.skills-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skill {
  display: inline-block;
  will-change: transform;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
}

.skill.visible {
  opacity: 1; /* Fade in to opacity 1 */
}

.skill-icon {
  width: 50px;
  height: 50px;
}