.skills-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.skill {
  display: inline-block;
  will-change: transform, opacity;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.skill.visible {
  opacity: 1; /* Fade in to opacity 1 */
}

.skill-icon {
  width: 50px;
  height: 50px;
}