<div class="contact-links">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/matteo-calvanico/" target="_blank">
          <img src="https://imgs.search.brave.com/MspQtFIstYWh9I8XCeYe5l4nU74LF8jy4FSQ1wvWJAU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS81/MTIvMTc0LzE3NDg1/Ny5wbmc" >
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://instagram.com/matteo.calvanico" target="_blank">
          <img src="https://imgs.search.brave.com/n4ZUgAgjuQlgXEDxkMWCLxaa0rAAOeml50aB2b_v5AI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZy/ZWVwaWsuY29tLzI1/Ni8yMTExLzIxMTE0/NjMucG5nP3NlbXQ9/YWlzX2h5YnJpZA" >
          Instagram
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico" target="_blank">
          <img src="https://imgs.search.brave.com/0cgtPbRhAyOerzoF87WD0G4bo4LWCk7P0o9_vytL-Ko/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy85/LzkxL09jdGljb25z/LW1hcmstZ2l0aHVi/LnN2Zw" >
          GitHub
        </a>
      </li>
      <li>
        <a href="mailto:matteo.calvanico03@gmail.com">
          <img src="https://imgs.search.brave.com/J-2CsJDCy1tFDxQlGy_OblCLaDcLbYvXNYWgiEFboCA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvdWktc2V0LXRy/YW5zcGFyZW50LzY0/L1VJX2ljb25fc2V0/X2FidS0wNy0xMjgu/cG5n" >
          Email
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico/CV/blob/ENG/Matteo-Calvanico-CV-ENG.pdf" target="_blank">
          <img src="https://imgs.search.brave.com/Omkzh149gyeQGEqDEZwbEFRK3Nio_73bWvGSIZIdiCE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4y/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZmlsZXMtYW5k/LWZvbGRlcnMtNTQv/NjgvMjkxLTY0LnBu/Zw" >
          CV - ENG
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico/CV/blob/ITA/Matteo-Calvanico-CV.pdf" target="_blank">
          <img src="https://imgs.search.brave.com/Omkzh149gyeQGEqDEZwbEFRK3Nio_73bWvGSIZIdiCE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4y/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZmlsZXMtYW5k/LWZvbGRlcnMtNTQv/NjgvMjkxLTY0LnBu/Zw" >
          CV - ITA
        </a>
      </li>
    </ul>
  </div>