<div class="contact-links">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/matteo-calvanico/" target="_blank">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/linkedin.png?raw=true" >
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://instagram.com/matteo.calvanico" target="_blank">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/instagram.png?raw=true" >
          Instagram
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico" target="_blank">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/github.png?raw=true" >
          GitHub
        </a>
      </li>
      <li>
        <a href="mailto:matteo.calvanico03@gmail.com">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/posta.png?raw=true" >
          Email
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico/CV/blob/ENG/Matteo-Calvanico-CV-ENG.pdf" target="_blank">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/cv.png?raw=true" >
          CV - ENG
        </a>
      </li>
      <li>
        <a href="https://github.com/MatteoCalvanico/CV/blob/ITA/Matteo-Calvanico-CV.pdf" target="_blank">
          <img src="https://github.com/MatteoCalvanico/AngularPortfolio/blob/main/src/app/assets/cv.png?raw=true" >
          CV - ITA
        </a>
      </li>
    </ul>
  </div>