<section class="component-section">
    <h3>{{ project.name }}</h3>
    <img [src]="project.image" alt="{{ project.name }}">
    <p>{{ project.description }}</p>
    <a [href]="project.githubUrl" target="_blank">View Project on GitHub</a>
    <p>Technologies used:</p>
    <ul>
        <li *ngFor="let tech of project.technologies">
            <img [src]="tech.icon" alt="{{ tech.name }}"  class="tech-icon">
            {{ tech.name }}
        </li>
    </ul>
    <section *ngIf="project.otherUrls">
        <p>Other links</p>
        <ul>
            <li *ngFor="let link of project.otherUrls">
                <a [href]="link.url" target="_blank">{{link.title}}</a>
            </li>
        </ul>
    </section>
</section>
