<div class="intro">
  <h1>Hello there I'm Matteo...</h1>
  <p>
    ...a Full-Stack Software Engineer with a Bachelor's Degree in "Computed
    System Technologies" from the University of Bologna.
  </p>
  <h2>My main interests are:</h2>
  <ul>
    <li>
      Video games...and not just as a hobby, in fact I'm a first-time game
      developer/designer.
    </li>
    <li>
      Cinema...I'm a great fan of the seventh art, always looking for new films
      to see and discover.
    </li>
    <li>
      Travel...since childhood, I always had the opportunity to visit my
      country, my continent and then the rest of the world. I love to learn
      about new cultures, people and realities.
    </li>
  </ul>
  <h2>and of course...programming</h2>
</div>
