@import '../../../styles.scss';

h3 {
  margin-top: 20px;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  border-radius: 10px;
  border: none;
  margin: 20px;

  ul {
    text-align: center;
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    
    li {
      text-align: left;
      margin: 5px 0;
    }
  }
}

button {
  border: none;
  background: $primary-color;

  &:hover {
    background: $dark-background;
  }
}