<p class="d-inline-flex gap-1">
  <button id="aboutMeButton" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#aboutCollapse" aria-expanded="false" aria-controls="aboutCollapse">
    About me
  </button>
</p>
<div class="collapse" id="aboutCollapse">
  <div class="card card-body">
    <h2>Hello there I'm Matteo...</h2> 
    <p>...a young Italian programmer and student from the University of Bologna who is undertaking a Bachelor's Degree in "Computed System technologies".</p>
    <h3>My main interests are:</h3>
    <ul>
      <li>Video games...and not just as a hobby, in fact I'm a first-time game developer/designer.</li>
      <li>Cinema...I'm a great fan of the seventh art, always looking for new films to see and discover.</li>
      <li>Travel...since childhood, I always had the opportunity to visit my country, my continent and then the rest of the world. I love to learn about new cultures, people and realities.</li>
    </ul>
    <h4>and of course...programming</h4>
  </div>
</div>