@import '../../../styles.scss';

main {
  text-align: center;

  h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .carousel-inner {
      display: flex;
      overflow: hidden;
      width: 100%;
      justify-content: center;
      gap: 10px; /* Add gap between projects */
    }

    app-project {
      flex: 0 0 100%; /* Default to show 1 project at a time */
      margin: 0 10px;
      max-width: 300px; /* Set a max-width for the projects */
    }

    .carousel-button {
      background: none;
      border: none;
      font-size: 2em;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center; 
      color: $white;
      transition: transform 0.3s ease-in-out;
      z-index: 1; /* Ensure buttons are above the projects */

      &.prev {
        left: 10px;
      }

      &.next {
        right: 10px;
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        
        &:hover {
          transform: translateY(-50%) scale(1) !important;
        }
      }
    }
  }

  button {
    border: none;
    background: $primary-color;
    margin-bottom: 30px; 
    font-size: small;

    &:hover {
      background: $dark-background;
    }
  }
}

/* Media queries to adjust the number of projects shown based on screen width */
@media (min-width: 600px) {
  .carousel-inner {
    app-project {
      flex: 0 0 45%; /* Show 2 projects at a time on screens wider than 600px */
    }
  }
}

@media (min-width: 900px) {
  .carousel-inner {
    app-project {
      flex: 0 0 30%; /* Show 3 projects at a time on screens wider than 900px */
    }
  }
}