<main>
    <header>
        <app-bash></app-bash>
    </header>
    <section class="app-section">
        <app-personal-info></app-personal-info>
    </section>
    <h1>Projects</h1>
    <section class="carousel">
        <button id="prevButton" class="carousel-button prev" (click)="prevProject()" [disabled]="!canGoPrev()" [class.disabled]="!canGoPrev()">&#10094;</button>
        <div class="carousel-inner">
            <app-project *ngFor="let project of visibleProjects" [project]="project"></app-project>
        </div>
        <button id="nextButton" class="carousel-button next" (click)="nextProject()" [disabled]="!canGoNext()" [class.disabled]="!canGoNext()">&#10095;</button>
    </section>
</main>