<main>
    <header>
        <app-bash></app-bash>
    </header>
    <section class="app-section">
        <app-personal-info></app-personal-info>
    </section>
    <h1>Projects</h1>
    <section class="carousel">
        <button id="prevButton" class="carousel-button prev" (click)="prevProject()" [disabled]="!canGoPrev()" [class.disabled]="!canGoPrev()">&#10094;</button>
        <div class="carousel-inner">
            <app-project *ngFor="let project of visibleProjects" [project]="project"></app-project>
        </div>
        <button id="nextButton" class="carousel-button next" (click)="nextProject()" [disabled]="!canGoNext()" [class.disabled]="!canGoNext()">&#10095;</button>
    </section>
    <h1>Skills</h1>
    <section>
        <app-skill></app-skill>
    </section>
    <h1>Experience and education</h1>
    <section>
        <app-experience *ngFor="let exp of eduExperiences" [exp]="exp"></app-experience>
        <span class="divider"></span>
        <app-experience *ngFor="let exp of workExperiences" [exp]="exp"></app-experience>
    </section>
    <h1>You want more?...</h1>
    <h2>...then check out my contacts OR download my CV</h2>
    <section>
        <app-contacts></app-contacts>
    </section>
</main>