/* Global styles */

// Variables
$primary-color: #840520;
$white: #ffffff;
$font-stack: 'Roboto', sans-serif;
$dark-background: #121111;
$gradient-background: linear-gradient(135deg, $primary-color, $dark-background);
$gradient-background-footer: linear-gradient(275deg, #34040433, $dark-background);
$text-gradient: $white;

// Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
            -ms-border-radius: $radius;
                    border-radius: $radius;
}

// Styles
body {
    height: 100%;
    margin: 0;
    font-family: $font-stack;
    color: $white;
    background: $gradient-background;
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: $white;
    text-decoration: none;
    background: $text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        filter: invert(1);
    }
}

button {
    @include border-radius(5px);
    background: $gradient-background;
}

img {
    width: 250px;
    height: 100px;
    object-fit: contain;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $dark-background 100%);
    color: $white;
    text-align: center;
    @include border-radius(0);
}