@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Global styles */

// Variables
$primary-color: #840520;
$white: #ffffff;
$font-stack: 'Courier New', Courier, monospace;//'Lato', sans-serif;
$dark-background: #121111;
$gradient-background: linear-gradient(135deg, $primary-color, $dark-background);
$gradient-background-footer: linear-gradient(275deg, #34040433, $dark-background);
$text-gradient: $white;

// Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
            -ms-border-radius: $radius;
                    border-radius: $radius;
}

// Styles
body {
    font-family: $font-stack;
    height: 100%;
    margin: 0;
    padding: 0%;
    position: relative;
    background: $gradient-background;
    color: $white;
    box-sizing: border-box;
  
  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .wave-path {
    fill: $dark-background;
    }
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: $white;
    text-decoration: none;
    background: $text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

button {
    @include border-radius(5px);
    background: $gradient-background;
}

img {
    width: 250px;
    height: 100px;
    object-fit: contain;
}

.icon {
    width: 20px;
    height: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $dark-background 100%);
    color: $white;
    text-align: center;
    @include border-radius(0);

    h5 {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .icon {
            margin: 0 5px;
        }
    }
}